.pf-c-form-control:disabled {
  border-bottom: 1px solid #8a8d90;
}

.pf-c-form-control:disabled::after {
  content: '';
}

.pf-c-nav__item {
  margin-right: 14px !important;
}

.externalAltLinkIcon {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  vertical-align: baseline !important;
  margin-right: 24px;
}

.externalAltLinkIcon::after{
  display: inline-block;
  margin-right: -24px;
}

.nowrap {
  /* white-space: nowrap; */
}

/* .pf-c-page__main {
  z-index: 301;
}

.pf-c-dropdown {
  z-index: 302;
} */